<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Account recovery</title>
</head>
<body class="sign-in" >
	<div class="wrapper" style="height:100%;">
		<div class="sign-in-page">
			<div class="signin-popup">
				<div style="background-color: white;" >
					<div class="row">
						<div class="sign_in_sec current">
							<h3 style="margin: 20px; margin-bottom: 10px; margin-top: 50px; font-size: 30px;">Account recovery</h3>
							<p  style="margin-bottom: 20px; margin-left: 20px;" >Enter the email address of the account where you will receive the verification code to recover the password</p>
							<form>
								<div class="row" id="divEmail" *ngIf="!isHiddenDivEmail">
									<div class="col-lg-12 no-pdd" style="margin: auto; justify-content: center; display: flex;">
										<div class="sn-field" style="width: 50%;">
											<input type="text" name="email" placeholder="Email" style="width: 400px;" [(ngModel)]="email">
											<i class="la la-user"></i>
										</div>
									</div>
									<div class="col-lg-12" style="margin: 10px; display: flex; justify-content: center; margin-bottom: 50px;">
										<button type="submit" value="submit" (click)="sendEmail()">Send code</button>
									</div>
								</div>
								<div class="row" id="divCode" *ngIf="!isHiddenDivCode">
									<div class="col-lg-12 no-pdd" style="margin: auto; justify-content: center; display: flex;">
										<div class="sn-field" style="width: 50%;">
											<input type="number" name="code" placeholder="Enter verification code" style="width: 400px;" [(ngModel)]="code" maxlength="6" required>
											<i class="la la-asterisk"></i>
										</div>
									</div>
									<div class="col-lg-12" style="margin: 10px; display: flex; justify-content: center; margin-top: 0px; margin-bottom: 20px;">
										<button type="submit" value="submit" (click)="sendCode()">Verify</button>
									</div>
									<div class="col-lg-12" style="margin: 5px; display: flex; justify-content: center; margin-top: 0px; margin-bottom: 50px;">
										<a (click)="sendEmail()" style="cursor: pointer;">Did not receive the verification code? Send request again</a>
									</div>
								</div>

								<div class="row" id="divPass" *ngIf="!isHiddenDivChangePass">
									<div class="col-lg-12 no-pdd" style="margin: auto; justify-content: center; display: flex;">
										<div class="sn-field" style="width: 50%;">
											<input type="password" name="password" placeholder="Password" [(ngModel)]="password">
											<i class="la la-lock"></i>
										</div>
									</div>
									<div class="col-lg-12 no-pdd" style="margin: auto; justify-content: center; display: flex;">
										<div class="sn-field" style="width: 50%;">
											<input type="password" name="repeat-password" placeholder="Repeat Password" [(ngModel)]="reenteredPassword">
											<i class="la la-lock"></i>
										</div>
									</div>
									<div class="col-lg-12" style="margin: 10px; display: flex; justify-content: center; margin-top: 0px; margin-bottom: 50px;">
										<button type="submit" value="submit" (click)="resetPassword()">Reset password</button>
									</div>
								</div>
							</form>
						</div>
					</div>		
				</div>
			</div>
			<div class="footy-sec">
				<div class="container">
					<!-- <ul>
						<li><a href="#" title="">Help Center</a></li>
						<li><a href="#" title="">Privacy Policy</a></li>
						<li><a href="#" title="">Community Guidelines</a></li>
						<li><a href="#" title="">Cookies Policy</a></li>
						<li><a href="#" title="">Career</a></li>
						<li><a href="#" title="">Forum</a></li>
						<li><a href="#" title="">Language</a></li>
						<li><a href="#" title="">Copyright Policy</a></li>
					</ul> -->
					<p><img src="images/copy-icon.png" alt="">Copyright 2022</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>