
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>WorkWise Html Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
</head>


<body class="sign-in" style="overflow: hidden;">
	

	<div class="wrapper">
		

		<div class="sign-in-page">
			<div class="signin-popup">
				<div class="signin-pop">
					<div class="row">
						<div class="col-lg-6">
							<div class="cmp-info">
								<div class="cm-logo">
									<!-- <img src="images/cm-logo.png" alt=""> -->
									<p>Workwise,  is a global freelancing platform and social networking where businesses and independent professionals connect and collaborate remotely</p>
								</div><!--cm-logo end-->	
								<!-- <img src="images/cm-main-img.png" alt="">			 -->
							</div><!--cmp-info end-->
						</div>
						<div class="col-lg-6">
							<div class="login-sec">
								<ul class="sign-control">
									<li data-tab="tab-1" class="current"><a href="#" title="">Sign in</a></li>				
									<li data-tab="tab-2"><a href="sign-up" title="">Sign up</a></li>				
								</ul>			

								<div class="sign_in_sec current" id="tab-2">
									<!-- <div class="signup-tab">
										<i class="fa fa-long-arrow-left"></i>
										<h2>johndoe@example.com</h2>
										<ul>
											<li data-tab="tab-3" class="current"><a href="#" title="">User</a></li>
											<li data-tab="tab-4"><a href="#" title="">Company</a></li>
										</ul>
									</div -->
                                    <!--signup-tab end-->	
									<div class="dff-tab current" id="tab-3">
										<form>
											<div class="row">
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input [(ngModel)]="user.name" type="text" name="firstName" placeholder="First name*">
														<i class="la la-user"></i>
													</div>
												</div>
                                                <div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text"  [(ngModel)]="user.lastName" name="lastName" placeholder="Last name*">
														<i class="la la-user"></i>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text"  [(ngModel)]="user.email" name="email" placeholder="Email*">
														<i class="la la-globe"></i>
													</div>
												</div>
                                                <div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text"  [(ngModel)]="user.username" name="userName" placeholder="Username*">
														<i class="la la-user"></i>
													</div>
												</div>
                                                <div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text" name="mobilePhone"  [(ngModel)]="user.mobileNumber" placeholder="Mobile phone">
														<i class="la la-mobile-phone"></i>
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<select (change)="selectGender($event)">
															<option>Gender*</option>
                                                            <option>Male</option>
															<option>Female</option>
														</select>                                            
														<i class="la la-users"></i>
													</div>
												</div>
                                                <div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="text"  [(ngModel)]="user.biography" name="biography" placeholder="Biography" autocomplete="off">
														<i class="la la-pencil-square-o"></i>
													</div>
												</div>

                                                <div class="col-lg-12 no-pdd">
													<div class="sn-field">
                                                        <input placeholder="Birth*" (change)="selectBirth()" [(ngModel)]="birth" name="birthday" class="textbox-n" type="text" onfocus="(this.type='date')" id="date">
														<i class="la la-birthday-cake"></i>
													</div>
												</div>

												<div class="col-lg-12 no-pdd">
													<div class="sn-field">
														<input type="password" [(ngModel)]="user.password" name="password" placeholder="Password*" autocomplete="off">
														<i class="la la-lock"></i>
													</div>
												</div>

                                                <!-- Skills -->
                                                <div class="col-lg-12 no-pdd">
													<div style="justify-content: space-between; display: flex;">
                                                        <label>Skills:</label>
														<button type="submit" style="margin-top: 0%;" (click)="addSkill()"><i class="la la-plus"></i></button>                                                  
													</div>
												</div>

                                                <div class="col-lg-12 no-pdd" *ngFor="let divData of skills">
                                                    <br>
													<div class="sn-field" style="justify-content: space-between; display: flex;">
														<input type="text" name="password" placeholder="Skill" autocomplete="off">
														<i class="la la-check-circle"></i>

													</div>
												</div>
                                                <!-- Skills -->

                                                <!-- Interests -->
                                                <div class="col-lg-12 no-pdd">
													<div style="justify-content: space-between; display: flex;">
                                                        <label>Interests:</label>
														<button type="submit" style="margin-top: 0%;" (click)="addInterests()"><i class="la la-plus"></i></button>  
														<!-- <button type="submit" style="margin-top: 0%;" (click)="addInterests()"><i class="la la-plus"></i></button>                                                   -->
                                                
													</div>
												</div>

                                                <div class="col-lg-12 no-pdd" *ngFor="let divData of interests">
                                                    <br>
													<div class="sn-field">
														<input type="text" name="password" placeholder="Name" autocomplete="off">
                                                        <!-- <i class="la la-lock"></i> -->
                                                        <input type="text" name="password" placeholder="Description" autocomplete="off">
														<!-- <i class="la la-lock"></i> -->

													</div>
												</div>
                                                <!-- Interests -->


                                                 <!-- Education -->
                                                 <div class="col-lg-12 no-pdd">
													<div style="justify-content: space-between; display: flex;">
                                                        <label>Education:</label>
														<button type="submit" style="margin-top: 0%;" (click)="addEducation()"><i class="la la-plus"></i></button>                                                  
													</div>
												</div>

                                                <div class="col-lg-12 no-pdd" *ngFor="let divData of education">
                                                    <br>
													<div class="sn-field">
														<input type="text" name="name" placeholder="Name" autocomplete="off">
                                                        <!-- <i class="la la-lock"></i> -->
                                                        <input type="text" name="password" placeholder="Headline" autocomplete="off">
														<!-- <i class="la la-lock"></i> -->
                                                        <input type="text" name="password" placeholder="Place" autocomplete="off">
														<!-- <i class="la la-lock"></i> -->
                                                        <input placeholder="Start date" class="textbox-n" type="text" onfocus="(this.type='date')" id="date">
														<!-- <i class="la la-lock"></i> -->
                                                        <input placeholder="End date" class="textbox-n" type="text" onfocus="(this.type='date')" id="date">
														<!-- <i class="la la-lock"></i> -->


													</div>
												</div>
                                                <!-- Education -->


												<div class="col-lg-12 no-pdd">
													<div class="checky-sec st2">
														<!-- <div class="fgt-sec">
															<input type="checkbox" name="cc" id="c2">
															<label for="c2">
																<span></span>
															</label>
															<small>Yes, I understand and agree to the workwise Terms & Conditions.</small>
														</div> -->
                                                        <!--fgt-sec end-->
													</div>
												</div>
												<div class="col-lg-12 no-pdd">
													<button type="submit" value="submit" (click)="signUp()">Sing up</button>
												</div>
											</div>
										</form>
									</div><!--dff-tab end-->

								</div>		
							</div><!--login-sec end-->
						</div>
					</div>		
				</div><!--signin-pop end-->
			</div><!--signin-popup end-->

		</div><!--sign-in-page end-->


	</div><!--theme-layout end-->

</body>
</html>