
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Feed</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
</head>

<body *ngIf="loaded">
	<div class="wrapper">
		
		<header>
			<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="/feed" title=""><img src="assets/logo.png" alt="" height="40px" width="50px"></a>
						<!-- <a href="index.html" title=""><img src="images/logo.png" alt=""></a> -->
					</div>
                    <!--logo end-->
					<div class="search-bar">
						<form>
							<input type="text" name="search" [(ngModel)]="searchCriteria" name="searchCriteria" placeholder="Search by post text...">
							<button (click)="search()"><i class="la la-search"></i></button>
						</form>
					</div>
                    <!--search-bar end-->
					<nav>
						<ul>
							<li>
								<a href="/" title="">
									Home
								</a>
							</li>
						</ul>
					</nav><!--nav end-->
				</div><!--header-data end-->
			</div>
		</header><!--header end-->	

		<section class="cover-sec">
            <br> <br><br><br><br><br> <br><br><br><br>
		</section>

		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3">
								<div class="main-left-sidebar">
									<div class="user_profile">
										<div class="user-pro-img">
											<img src="assets\cv__29__generated.jpg" style="width: 170px; height: 170px;" alt=""> 
											<a href="#" title=""><i class="fa fa-camera"></i></a>
										</div><!--user-pro-img end-->
										<ul class="social_links">
											<li><a title=""><i class="la la-user"></i> {{ user.name }} {{ user.lastName }} </a></li>
											<li><a title=""><i class="la la-at"></i> {{ user.email }} </a></li>
											<li><a title=""><i class="la la-phone"></i> {{ user.mobileNumber }}  </a></li>											
										</ul>
									</div><!--user_profile end-->
								</div><!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6">
								<div class="main-ws-sec">
									<div class="user-tab-sec">
										<h3> {{ user.name }} {{ user.lastName }} </h3>       <!-- TODO: ime ulogovanog korisnika -->
										<div class="star-descp">
											<span> {{ user.biography }} </span>
										</div><!--star-descp end-->
									</div><!--user-tab-sec end-->

                                    <div class="product-feed-tab current" id="feed-dd">
                                        <div class="posts-section">
                                            <ul *ngFor="let p of posts; let i=index"> <!--POSTS -->
                                                <div class="post-bar">
                                                    <div class="post_topbar">
                                                        <div class="usy-dt">
															<img src="assets\cv__29__generated.jpg" style="width: 50px; height: 50px;" alt=""> 
															<div class="usy-name" *ngIf="!p.isJobOffer">
                                                                <h3>  {{ p.user['user'].name }} {{ p.user['user'].lastName }} </h3>
																<span> <i class="la la-calendar"></i> {{ p.dateCreated }} </span>
                                                            </div>
															<div class="usy-name" *ngIf="p.isJobOffer">
                                                                <h3>  {{ p.user['user'].name }} {{ p.user['user'].lastName }} ** {{ p.company.name }} ** </h3>
																<span> <i class="la la-calendar"></i> {{ p.dateCreated }} </span>
                                                            </div>
                                                        </div>
                                                    </div>				

                                                    <div class="job_descp">
                                                        <p  *ngIf="p.isJobOffer" style="font-weight: bold;"> {{ p.text }} ! </p>
														<p  *ngIf="!p.isJobOffer"> {{ p.text }} </p>

														<ul *ngFor="let link of p.links"> <!-- LINKS -->
															<a href="{{link}}" > {{ link }} </a>
														</ul>

														<ul *ngIf="p.image != ''"> 
															&nbsp;
															<img style="max-height: 100%; max-width: 100%;" [src] = "p.image"> 
														</ul>


														<div *ngIf="p.isJobOffer">
															<p style="font-size: medium;"> Position:  {{ p.jobOffer.position.name }} </p>
															<ul class="job-dt">
																<li><a title="pay"> ${{ p.jobOffer.position.pay }}</a></li>
															</ul>
															<p style="font-size: medium;"> Job description:   {{ p.jobOffer.jobDescription }} </p>
															<p style="font-size: medium;"> Daily activities: {{ p.jobOffer.dailyActivities }} </p>
															<p style="font-size: medium;"> Preconditions:   {{ p.jobOffer.preconditions }} </p>
														</div>
                                                    </div>
                                                    <div class="job-status-bar">
														<ul class="like-com">
                                                            <li>
                                                                <a routerLink="." title="Like"><i class="la la-heart"></i> Likes ({{ p.likes.length }}) </a>
																<a routerLink="." title="See likes" (click)="seeLikes(p.id)"><i class="la la-expand"></i>  </a>
															</li> 
															<li>
                                                                <a routerLink="." title="Dislike"><i class="la la-thumbs-o-down"></i> Dislikes ({{ p.dislikes.length }})</a>
																<a routerLink="." title="See dislikes" (click)="seeDislikes(p.id)"><i class="la la-expand"></i>  </a>
															</li> 
															<li>
                                                                <a routerLink="." title="Neutral reaction"><i class="la la-meh-o"></i> </a>
                                                            </li>
                                                        </ul>
                                                        <a><i class="la la-comments"></i>Comments ({{ p.comments.length }})</a>
                                                    </div>
                                                </div>
											
												<ul *ngFor="let c of p.comments"> 
													<div class="comment-section" style="margin-bottom: 1vw; margin-top: -1vw; ">
														<div class="comment-sec">
															<ul>
																<li>
																	<div class="comment-list">
																		<div class="bg-img">
																			<img src="assets\cv__29__generated.jpg" style="width: 40px; height: 40px;" alt=""> 
																		</div>
																		<div class="comment">
																			<h3>  {{ c.user['user'].name }} {{ c.user['user'].lastName }} </h3> <!-- TODO USER -->
																			<p> {{ c.text }} </p>
																		</div>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</ul>
											</ul>
											<br> <br>
										</div><!--posts-section end-->
									</div><!--product-feed-tab end-->
								</div><!--main-ws-sec end-->
							</div>
							<div class="col-lg-3">
								<div class="right-sidebar">
									<!-- <div class="message-btn">
										<a href="#" title=""><i class="fa fa-envelope"></i> Message </a>
									</div> -->
									
									<div class="suggestions full-width">
										<div class="sd-title">
											<h3>Suggestions</h3>
											<i class="la la-ellipsis-v"></i>
										</div><!--sd-title end-->
										<div class="suggestions-list">
											<div class="suggestion-usd">
												<!-- <img src="http://via.placeholder.com/35x35" alt=""> -->
												<div class="sgt-text">
													<h4>Jessica William</h4>
													<span>Graphic Designer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<!-- <img src="http://via.placeholder.com/35x35" alt=""> -->
												<div class="sgt-text">
													<h4>John Doe</h4>
													<span>PHP Developer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<!-- <img src="http://via.placeholder.com/35x35" alt=""> -->
												<div class="sgt-text">
													<h4>Poonam</h4>
													<span>Wordpress Developer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<!-- <img src="http://via.placeholder.com/35x35" alt=""> -->
												<div class="sgt-text">
													<h4>Bill Gates</h4>
													<span>C & C++ Developer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<!-- <img src="http://via.placeholder.com/35x35" alt=""> -->
												<div class="sgt-text">
													<h4>Jessica William</h4>
													<span>Graphic Designer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<!-- <img src="http://via.placeholder.com/35x35" alt=""> -->
												<div class="sgt-text">
													<h4>John Doe</h4>
													<span>PHP Developer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="view-more">
												<a href="#" title="">View More</a>
											</div>
										</div><!--suggestions-list end-->
									</div><!--suggestions end-->
								</div><!--right-sidebar end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>

		<footer>
			<div class="footy-sec mn no-margin">
				<div class="container">
					<ul>
						<li><a href="#" title="">Help Center</a></li>
						<li><a href="#" title="">Privacy Policy</a></li>
						<li><a href="#" title="">Community Guidelines</a></li>
						<li><a href="#" title="">Cookies Policy</a></li>
						<li><a href="#" title="">Career</a></li>
						<li><a href="#" title="">Forum</a></li>
						<li><a href="#" title="">Language</a></li>
						<li><a href="#" title="">Copyright Policy</a></li>
					</ul>
					<p>Copyright 2018</p>
				</div>
			</div>
		</footer><!--footer end-->
	</div><!--theme-layout end-->
</body>
</html>