<h2 mat-dialog-title>Edit biography</h2>
<mat-divider></mat-divider>
<div  style="margin-top: 0.5vw; margin-left: 1vw; margin-right: 1vw; margin-bottom: 0.5vw;">
    <div class="row"  style="margin-bottom: -1.5vw;"> 
    </div>
    <br><br>
    <div class="row"  style="margin-bottom: -1.5vw;">
        <div class="col-md-12 mb-4 pb-2">
            <mat-form-field class="example-full-width" appearance="outline" style="width: 33vw;">  <!-- border-style: solid; border-color: gainsboro; border-width: 0.5px; -->
                <mat-label>Name</mat-label>
                <input matInput class="example-full-width" appearance="outline"  [(ngModel)]="user.name" name="text" placeholder="New biography..."> 
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline" style="width: 33vw;">  <!-- border-style: solid; border-color: gainsboro; border-width: 0.5px; -->
                <mat-label>Last name</mat-label>
                <input matInput class="example-full-width" appearance="outline"  [(ngModel)]="user.lastName" name="text" placeholder="New biography..."> 
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline" style="width: 33vw;">  <!-- border-style: solid; border-color: gainsboro; border-width: 0.5px; -->
                <mat-label>Email</mat-label>
                <input matInput class="example-full-width" appearance="outline"  [(ngModel)]="user.email" name="text" placeholder="New biography..."> 
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline" style="width: 33vw;">  <!-- border-style: solid; border-color: gainsboro; border-width: 0.5px; -->
                <mat-label>Mobile number</mat-label>
                <input matInput class="example-full-width" appearance="outline"  [(ngModel)]="user.mobileNumber" name="text" placeholder="New biography..."> 
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline" style="width: 33vw;" [color]="genderControl.value">
                <mat-label>Gender*</mat-label>
                <mat-select [formControl]="genderControl" class="example-full-width" appearance="outline" > 
                  <mat-option value="Female">Female</mat-option>
                  <mat-option value="Male">Male</mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline" style="width: 33vw;">  <!-- border-style: solid; border-color: gainsboro; border-width: 0.5px; -->
                <mat-label>Birthday*</mat-label> 
                <input matInput placeholder="pera" class="example-full-width" appearance="outline" (change)="selectBirth()" [(ngModel)]="user.birthday" name="birthday" class="textbox-n" type="date"  id="date">
            </mat-form-field>

            <label>{{message}} </label>
        </div>
        </div>


    <div class="mt-4 pt-2">
        <input class="btn btn-lg center-div" style="margin-right: 3%; margin-left: 30%;" (click)="cancel()" type="button" value="Cancel" />
        <input class="btn btn-success btn-lg center-div" style="background-color: #e44d3a; color:white" type="button" (click)="update()" value="Update" />
        
    </div>
</div>