
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>WorkWise Html Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
</head>

<body class="sign-in">
	<div class="wrapper">
		<div class="sign-in-page">
			<div class="signin-popup" style="align-items: center;">
				<div class="signin-pop2" style="height: 250px; width: 800px;">
									<!-- <img src="../../../images/cm-logo.png" alt=""> -->
                    <p style="font-size: 25px; text-align: center;">You have successfully activated your profile</p>
<div class="child">
    <button type="submit" value="submit" class="btn btn-danger" (click)="login()">Login</button>
</div>
                                        


				</div><!--signin-pop end-->
			</div><!--signin-popup end-->

		</div><!--sign-in-page end-->


	</div><!--theme-layout end-->
</body>
</html>