
	<div class="wrapper">
		


		<app-header></app-header>


		<section class="companies-info">
			<div class="container">
				<div class="company-title">
					<h3>All users</h3>
				</div><!--company-title end-->
				<div class="companies-list">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let u of users">
							<div class="company_profile_info" *ngIf="loggedUser !== u.email">
								<div class="company-up-info">
									<img src="assets\cv__29__generated.jpg" style="width: 91px; height: 91px;" alt=""> 
									<h3>{{u.name}} {{u.lastName}}</h3>
									<h4>{{u.email}}</h4>
									<ul>
										<!-- *ngIf="!connected()" -->
										<li><a (click)="connect(u, u.id)" *ngIf="!u.isConnected && !u.request && !u.blocked" style="cursor: pointer;" title="" class="btn btn-primary">Connect</a></li>
										<li><a  *ngIf="u.isConnected && !u.request && !u.blocked" style="cursor: pointer; pointer-events: none" title="" class="btn btn-success">Connected</a></li>
										<li><a  *ngIf="u.request && !u.blocked" style="cursor: pointer; pointer-events: none" title="" class="btn btn-secondary">Pending</a></li>
										<li><a  *ngIf="u.blocked" style="cursor: pointer; pointer-events: none" title="" class="btn btn-secondary">Blocked</a></li>

										<li><a *ngIf="!u.blocked" href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a *ngIf="!u.blocked" title="" style="cursor: pointer;" class="hire-us" (click)="block(u)">Block</a></li>
									</ul>
								</div>
								<a href="#" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
					</div>
				</div><!--companies-list end-->
				<div class="process-comm">
					<div class="spinner">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>
				</div>
			</div>
		</section><!--companies-info end-->


	</div><!--theme-layout end-->
