.success-snackbar {
    background: #1fcd98;
    white-space: pre-wrap
}

.cp-field i {
    position: absolute;
    top: 12px;
    // left: auto;
    // right: 10px;
    color: #b2b2b2;
    font-size: 16px;
}