
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Feed</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
</head>

<body *ngIf="loaded">
	<div class="wrapper">
		
		<header>
			<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="/feed" title=""><img src="assets/logo.png" alt="" height="40px" width="50px"></a>
					</div>
					<div class="search-bar">
						<form>
							<input type="text" name="search" [(ngModel)]="searchCriteria" name="searchCriteria" placeholder="Search by post text...">
							<button (click)="search()"><i class="la la-search"></i></button>
						</form>
					</div>
                    <!--search-bar end-->
					<nav>
						<ul>
							<li>
								<a href="/feed" title="">
									Home
								</a>
							</li>
							<li>
								<a href="companies.html" title="">
									Companies
								</a>
							</li>
							<li>
								<a href="projects.html" title="">
									Projects
								</a>
							</li>
							<li>
								<a href="/user-profiles" title="">
									Profiles
								</a>
								<ul>
									<li><a href="user-profile.html" title="">User Profile</a></li>
									<li><a href="my-profile-feed.html" title="">my-profile-feed</a></li>
								</ul>
							</li>
							<li>
								<a href="jobs.html" title="">
									Jobs
								</a>
							</li>
							<li>
								<a href="#" title="" class="not-box-open">
									Messages
								</a>
								<div class="notification-box msg">
									<div class="nt-title">
										<h4>Settings</h4>
										<a href="#" title="">Clear all</a>
									</div>
								</div>
							</li>
							<li>
								<a href="#" title="" class="not-box-open">
									Notification
								</a>
							</li>
						</ul>
					</nav><!--nav end-->
					
                    <div class="user-account">
						<div class="user-info"  (click)="makeVisibleUserAcccountSettings()" style="cursor: pointer;">
							<a title="">{{ user.name }}</a>
							<i class="la la-sort-down"></i>
						</div>
						<div class="user-account-settingss active" *ngIf="visibleUserAcccountSettings">
							<h3>Settings</h3>
							<ul class="us-links">
								<li><a href="/account-setting" title="">Account Setting</a></li>
								<li><a href="#" title="">Privacy</a></li>
								<li><a href="#" title="">Faqs</a></li>
								<li><a href="#" title="">Terms & Conditions</a></li>
							</ul>
							<h3 class="tc"><a routerLink="." (click)="logout()">Logout</a></h3>
						</div><!--user-account-settingss end-->
					</div>
				</div><!--header-data end-->
			</div>
		</header><!--header end-->	

		<section class="cover-sec">
            <br> <br><br><br><br><br> <br><br><br><br>
		</section>

		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3">
								<div class="main-left-sidebar">
									<div class="user_profile">
										<div class="user-pro-img">
											<img src="http://via.placeholder.com/170x170" alt="">
											<a href="#" title=""><i class="fa fa-camera"></i></a>
										</div><!--user-pro-img end-->
										<ul class="social_links">
											<li><a title=""><i class="la la-user"></i> {{ user.name }} {{ user.lastName }} </a></li>
											<li><a title=""><i class="la la-at"></i> {{ user.email }} </a></li>
											<li><a title=""><i class="la la-phone"></i> {{ user.mobileNumber }}  </a></li>	
											<li><a title=""><i class="la la-heart"></i> {{ user.gender }}  </a></li>	
											<li><a title=""><i class="la la-calendar"></i> {{ stringBirthday }}  </a></li>
											<li> 
												<button mat-raised-button class="edit-info" 
												(click)="editInfo()" ><i class="fa fa-pencil"></i> Edit info</button>
											</li>											
										</ul>
									</div><!--user_profile end-->
								</div><!--main-left-sidebar end-->

								<div class="message-btn" style="display: flex; justify-content: center; margin: auto; float: left;">
									<button mat-raised-button style="background-color: #e44d3a; color:white; font-weight: lighter;" (click)="newPost()" ><i class="la la-upload"></i> New Post</button>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="main-ws-sec">
									<div class="user-tab-sec">
										<h3> {{ user.name }} {{ user.lastName }} </h3>       <!-- TODO: ime ulogovanog korisnika -->
										<div class="star-descp">
											<span> {{ user.biography }} </span>
										</div><!--star-descp end-->
										<div class="tab-feed st2" *ngIf="feedActive">
											<ul>
												<li data-tab="feed-dd" class="active">
													<a routerLink="." (click)="loadFeed()">
														<span> <i class="la la-home"></i> Feed </span>
													</a>
												</li>
												<li data-tab="info-dd">
													<a routerLink="." (click)="loadMyPosts()">
														<span> <i class="la la-user"></i> My Profile</span>
													</a>
												</li> 
												<li data-tab="profile-dd">
													<a routerLink="." (click)="loadMyInfo()">
														<span> <i class="la la-question"></i> My informations</span>
													</a>
												</li>
											</ul>
										</div><!-- tab-feed end-->
										<div class="tab-feed st2" *ngIf="profileActive">
											<ul>
												<li data-tab="feed-dd">
													<a routerLink="." (click)="loadFeed()">
														<span> <i class="la la-home"></i> Feed </span>
													</a>
												</li>
												<li data-tab="info-dd" class="active">
													<a routerLink="." (click)="loadMyPosts()">
														<span> <i class="la la-user"></i> Profile</span>
													</a>
												</li>
												<li data-tab="profile-dd">
													<a routerLink="." (click)="loadMyInfo()">
														<span> <i class="la la-question"></i> My informations</span>
													</a>
												</li>
											</ul>
										</div><!-- tab-feed end-->
										<div class="tab-feed st2" *ngIf="informationsActive">
											<ul>
												<li data-tab="feed-dd">
													<a routerLink="." (click)="loadFeed()">
														<span> <i class="la la-home"></i> Feed </span>
													</a>
												</li>
												<li data-tab="info-dd">
													<a routerLink="." (click)="loadMyPosts()">
														<span> <i class="la la-user"></i> Profile</span>
													</a>
												</li>
												<li data-tab="profile-dd" class="active">
													<a routerLink="." (click)="loadMyInfo()">
														<span> <i class="la la-question"></i> My informations</span>
													</a>
												</li>
											</ul>
										</div><!-- tab-feed end-->
									</div><!--user-tab-sec end-->
							

                                    <div *ngIf="profileActive" class="product-feed-tab current" id="feed-dd">
                                        <div class="posts-section">
                                            <ul *ngFor="let p of posts; let i=index"> <!--POSTS -->
                                                <div class="post-bar">
                                                    <div class="post_topbar">
                                                        <div class="usy-dt">
															<img src="http://via.placeholder.com/50x50" alt="">
															<div class="usy-name">
																<a routerLink="." title="Show profile" (click)="seeProfile(p.userId)"> <h3> {{ p.user['user'].name }} {{ p.user['user'].lastName }}  </h3> </a>   <!-- {{ p.user['user'].name }} {{ p.user['user'].lastName }} -->
																<span> <i class="la la-calendar"></i> {{ p.dateCreated }} </span>
                                                            </div>
                                                        </div>
                                                    </div>
													

                                                    <div class="job_descp">
                                                        <p> {{ p.text }} </p>
														
														<ul *ngFor="let link of p.links"> <!-- LINKS -->
															<a href="{{link}}" > {{ link }} </a>
														</ul>
                                                        <!-- <ul class="skill-tags">
                                                            <li><a href="#" title="">HTML</a></li>
                                                            <li><a href="#" title="">PHP</a></li>
                                                            <li><a href="#" title="">CSS</a></li>
                                                            <li><a href="#" title="">Javascript</a></li>
                                                            <li><a href="#" title="">Wordpress</a></li> 	
                                                        </ul> -->
                                                    </div>
                                                    <div class="job-status-bar">
														<ul class="like-com">
                                                            <li>
                                                                <a routerLink="." title="Like" (click)="like(p.id)"><i class="la la-heart"></i> Likes ({{ p.likes.length }}) </a>
																<a routerLink="." title="See likes" (click)="seeLikes(p.id)"><i class="la la-expand"></i>  </a>
															</li> 
															<li>
                                                                <a routerLink="." title="Dislike" (click)="dislike(p.id)"><i class="la la-thumbs-o-down"></i> Dislikes ({{ p.dislikes.length }})</a>
																<a routerLink="." title="See dislikes" (click)="seeDislikes(p.id)"><i class="la la-expand"></i>  </a>
															</li> 
															<li>
                                                                <a routerLink="." title="Neutral reaction" (click)="neutral(p.id)"><i class="la la-meh-o"></i> </a>
                                                            </li>
                                                        </ul>
                                                        <a><i class="la la-comments"></i>Comments ({{ p.comments.length }})</a>
                                                    </div>
                                                </div>
											
												<ul *ngFor="let c of p.comments"> 
													<div class="comment-section" style="margin-bottom: -2vw; margin-top: -1vw; ">
														<div class="comment-sec">
															<ul>
																<li>
																	<div class="comment-list">
																		<div class="bg-img">
																			<img src="http://via.placeholder.com/40x40" alt="">
																		</div>
																		<div class="comment">
																			<h3>  {{ c.user['user'].name }} {{ c.user['user'].lastName }} </h3> <!-- {{ c.user['user'].name }} {{ c.user['user'].lastName }} -->
																			<p> {{ c.text }} </p>
																		</div>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</ul>
												<div class="comment-section" style="margin-bottom: 2vw; margin-top: -1vw; ">
													<div class="post-comment">
														<div class="cm_img">
															<img src="http://via.placeholder.com/40x40" alt="">
														</div>
														<div class="comment_box">
															<form (ngSubmit)="comment(p.id, $event)">
																<input type="text" placeholder="Post a comment" name="comment">
																<button type="submit">Send</button>
															</form>
														</div>
													</div>
												</div>
											</ul>
											<br> <br>
										</div><!--posts-section end-->
									</div><!--product-feed-tab end-->


									<!--my informations section-->
									<div *ngIf="informationsActive" class="product-feed-tab current" id="profile-dd">
                                        <div class="user-profile-ov">
											<h3><a title="" class="overview-open">Biography</a> <a (click)="updateBiography()" title="" class="overview-open" ><i class="fa fa-pencil"></i></a></h3>
											<p>{{user.biography}}</p>
										</div><!--user-profile-ov end-->
										<div class="user-profile-ov st2">
											<h3><a href="#" title="" class="exp-bx-open">Experience </a><a href="#" title="" class="exp-bx-open"><i class="fa fa-pencil"></i></a> <a href="#" title="" class="exp-bx-open"><i class="fa fa-plus-square"></i></a></h3>
											<h4>Web designer <a href="#" title=""><i class="fa fa-pencil"></i></a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
											<h4>UI / UX Designer <a href="#" title=""><i class="fa fa-pencil"></i></a></h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id.</p>
											<h4>PHP developer <a href="#" title=""><i class="fa fa-pencil"></i></a></h4>
											<p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
										</div><!--user-profile-ov end-->
										<div class="user-profile-ov">
											<h3><a href="#" title="" class="ed-box-open">Education</a> <a href="#" title="" class="ed-box-open"><i class="fa fa-pencil"></i></a> <a href="#" title=""><i class="fa fa-plus-square"></i></a></h3>
											<h4>Master of Computer Science</h4>
											<span>2015 - 2018</span>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
											<h4>Master of Computer Science</h4>
											<span>2015 - 2018</span>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
										
										</div><!--user-profile-ov end-->

										<div class="user-profile-ov">
											<h3><a (click)="addSkill()" title="" class="skills-open">Skills</a> <a (click)="addSkill()" ><i class="fa fa-plus-square"></i></a></h3>
											<ul>
												<li *ngFor="let skill of user.skills"><a style="color: black;" (click)="deleteSkill(skill.id)" title="">{{skill.name}} <i class="fa fa-trash"></i></a></li> 
											</ul>
										</div><!--user-profile-ov end-->

										<div class="user-profile-ov">
											<h3><a href="#" title="" class="skills-open">Interests</a> <a><i class="fa fa-plus-square"></i></a></h3>
											<ul>
												<li *ngFor="let interest of user.interests"><a title="" style="color: black;" (click)="deleteInterest(interest.id)">{{interest.name}} ({{interest.description}}) <i class="fa fa-trash"></i></a></li> 
											</ul>
										</div><!--user-profile-ov end-->

									</div><!--my informations end-->


								</div><!--main-ws-sec end-->
							</div>
							<div class="col-lg-3">
								<div class="right-sidebar">
									<div class="message-btn">
										<a href="#" title=""><i class="fa fa-envelope"></i> Message </a>
									</div>
									
									<div class="suggestions full-width">
										<div class="sd-title">
											<h3>Suggestions</h3>
											<i class="la la-ellipsis-v"></i>
										</div><!--sd-title end-->
										<div class="suggestions-list">
											<div class="suggestion-usd">
												<!-- <img src="http://via.placeholder.com/35x35" alt=""> -->
												<div class="sgt-text">
													<h4>Jessica William</h4>
													<span>Graphic Designer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<!-- <img src="http://via.placeholder.com/35x35" alt=""> -->
												<div class="sgt-text">
													<h4>John Doe</h4>
													<span>PHP Developer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<!-- <img src="http://via.placeholder.com/35x35" alt=""> -->
												<div class="sgt-text">
													<h4>Poonam</h4>
													<span>Wordpress Developer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<!-- <img src="http://via.placeholder.com/35x35" alt=""> -->
												<div class="sgt-text">
													<h4>Bill Gates</h4>
													<span>C & C++ Developer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<!-- <img src="http://via.placeholder.com/35x35" alt=""> -->
												<div class="sgt-text">
													<h4>Jessica William</h4>
													<span>Graphic Designer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<!-- <img src="http://via.placeholder.com/35x35" alt=""> -->
												<div class="sgt-text">
													<h4>John Doe</h4>
													<span>PHP Developer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="view-more">
												<a href="#" title="">View More</a>
											</div>
										</div><!--suggestions-list end-->
									</div><!--suggestions end-->
								</div><!--right-sidebar end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>

		<footer>
			<div class="footy-sec mn no-margin">
				<div class="container">
					<ul>
						<li><a href="#" title="">Help Center</a></li>
						<li><a href="#" title="">Privacy Policy</a></li>
						<li><a href="#" title="">Community Guidelines</a></li>
						<li><a href="#" title="">Cookies Policy</a></li>
						<li><a href="#" title="">Career</a></li>
						<li><a href="#" title="">Forum</a></li>
						<li><a href="#" title="">Language</a></li>
						<li><a href="#" title="">Copyright Policy</a></li>
					</ul>
					<p>Copyright 2018</p>
				</div>
			</div>
		</footer><!--footer end-->
	</div><!--theme-layout end-->


</body>
</html>